.header__title {
  font-family: var(--accent-font);
  font-size: clamp(7.25rem, 7.0121rem + 1.0724vw, 7.5rem);
  color: var(--main-title-color);
  text-shadow: 4px 4px 0 var(--main-title-shadow-color);
  line-height: 82.5%;
}

@media (width >= 768px) {

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    position: relative;
    inset-inline-start: -15px;
  }
}

@media (width >= 1024px) {

  .header__title {
    inset-block-start: 80px;
  }
}
