.content-section {
  display: grid;
  inline-size: 100%;
  gap: 20px;
}

@media (width >= 768px) {
  .content-section {
    row-gap: 0;
  }

  .content-section:nth-child(odd) {
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: row;
  }
}

@media (width >= 1024px) {
  .content-section:nth-child(2) {
    grid-template-columns: repeat(3, 1fr);
  }
}
