.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  inline-size: clamp(375px, 100%, 1440px);
  block-size: clamp(668px, 100%, 1024px);
  margin: 0 auto;
  padding: 10px;
  position: relative;
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

@media (width >= 768px) {

  .page {
    padding: 20px;
  }
}
