.page.theme_light {
  --bg-color: #f1b2ce;
  --main-color: #353430;
  --decoreted-text-color: #353430;
  --main-title-color: #ffc2e6;
  --frame-color: #353430;
  --title-color: #353430;
  --accent-color: #ff8dcb;
  --main-title-shadow-color: #ff0070;
  --accent-color-hover: #32312d66;
  --main-font: 'IBM Plex mono', sans-serif;
  --accent-font: 'IBM Plex mono', sans-serif;
  --bg-image: url(./images/cover-image-light.png);
  --rec-lettering: none;
}
