@media (prefers-color-scheme: dark) {
  .page.theme_auto {
    --bg-color: #000028;
    --main-color: #f1b2ce;
    --decoreted-text-color: #000028;
    --main-title-color: #db00ff;
    --frame-color: #ff0070;
    --title-color: #ff0070;
    --accent-color: #ff0070;
    --main-title-shadow-color: #ff0070;
    --accent-color-hover: #ff0070cc;
    --main-font: 'IBM Plex mono Regular', sans-serif;
    --accent-font: 'IBM Plex mono Bold', sans-serif;
    --bg-image: url(/images/cover-image-dark.png);
    --rec-lettering: flex;
  }
}

@media (prefers-color-scheme: light) {
  .page.theme_auto {
    --bg-color: #f1b2ce;
    --main-color: #353430;
    --decoreted-text-color: #353430;
    --main-title-color: #ffc2e6;
    --frame-color: #353430;
    --title-color: #353430;
    --accent-color: #ff8dcb;
    --main-title-shadow-color: #ff0070;
    --accent-color-hover: #32312d66;
    --main-font: 'IBM Plex mono Regular', sans-serif;
    --accent-font: 'IBM Plex mono Bold', sans-serif;
    --bg-image: url(/images/cover-image-light.png);
    --rec-lettering: none;
  }
}
