.page.theme_dark {
  --bg-color: #000028;
  --main-color: #F1B2CE;
  --decoreted-text-color: #000028;
  --main-title-color: #DB00FF;
  --frame-color: #FF0070;
  --title-color: #FF0070;
  --accent-color: #FF0070;
  --main-title-shadow-color: #FF0070;
  --accent-color-hover: #FF0070CC;
  --main-font: "IBM Plex mono Regular", sans-serif;
  --accent-font: "IBM Plex mono Bold", sans-serif;
  --bg-image: url(/images/cover-image-dark.png);
  --rec-lettering: flex;
}