.page.theme_light {
  --bg-color: #F1B2CE;
  --main-color: #353430;
  --decoreted-text-color: #353430;
  --main-title-color: #FFC2E6;
  --frame-color: #353430;
  --title-color: #353430;
  --accent-color: #FF8DCB;
  --main-title-shadow-color: #FF0070;
  --accent-color-hover: #32312D66;
  --main-font: "IBM Plex mono Regular", sans-serif;
  --accent-font: "IBM Plex mono Bold", sans-serif;
  --bg-image: url(/images/cover-image-light.png);
  --rec-lettering: none;
}